<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
<form action="/home/register" method="POST">
    <table>
        <tr>
            <td>账号</td>
            <td><input type="text" name="userInfo"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="text" name="userPwd"></td>
        </tr>
        <tr>
            <td>手机号</td>
            <td><input type="text" name="userPhone"></td>
        </tr>
        <tr>
            <td><input type="submit" id="btn1" value="注册"></td>
            <td><input type="button" id="btn2" value="登录"></td>
        </tr>
    </table>
</form>

</body>
</html>